
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (ViewBag.cart != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    SKU
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Price
                </th>
                <th>
                    Sub Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.SKU
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Stock
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @(item.Quantity * item.Price)
                    </td>
                    <td>
                        <a asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@item.Id">Remove</a>
                    </td>
                </tr>
            }
            <tr>
                <td align="right" colspan="6">
                    Sum
                </td>
                <td>
                    @ViewBag.total
                </td>
            </tr>
        </tbody>
    </table>
}